.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  background-color: #f2c3c3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 111px;
  height: 117px;
}