<div class="add-songs-contents">
  <header class="add-songs-header">
    <%= link_to image_tag('pan.png' , size: '100x100'), "/" %>

  </header>
  <div class="add-songs-main">
    <h2 class="add-songs-title">商品の情報を入力</h2>
    <%#= form_with model: @song, url: songs_path, local: true do |f| %>

    <%#= render 'shared/error_messages', model: f.object %>

    <%# 曲の動画 %>
    <div class="video-upload">
      <div class="weight-bold-text">
        曲の動画
        <span class="indispensable">必須</span>
      </div>
      <div class="url-upload">
        <p>
          動画のURLを入力
        </p>
        <%# f.text_area :video, id:"song-video" %>
      </div>
    </div>
  
  </div>

</div>