a {
  text-decoration: none;
}

.main {
  background: #f9f5f5;
  height: 100%;
}

.list-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.list-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.list-contents>.subtitle {
  font-size: 2vh;
  margin: 1vh 0;
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.song-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}

.song-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.song-title {
  font-size: 2.5vh;
}

table {
  border-collapse: collapse;
  border-spacing: 10px;
  width: 100%;
}

table tr{
  border-bottom: solid 3px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th {
  background: #3f3f3f;
  color: #ffffff;
  font-weight: bold;
}

table th,table td{
  text-align: center;
  width: 350px;
  padding: 15px 0;
}
