/* 投稿した曲の概要 */

.song-show {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-box {
  background-color: #FFF;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.song-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.song-option {
  display: flex;
  justify-content: space-between;
}


.song-red-btn {
  text-align: center;
  background-color: #ed92b0;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 20px;
  padding: 2vh 5vw;
  border-radius: 40px;
}

.song-destroy {
  background-color: rgb(245, 62, 62);
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 20px 20px;
  padding: 2vh 5vw;
  border-radius: 40px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-song {
  width: 20%;
  background-color: rgb(56, 53, 53);
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 15px;
  white-space: pre-line
}

/* /投稿した曲の概要 */


/* いいね */

.like-count {
  color:#da7979;
  font-size: 20px;
  padding-left: 200px;
}

/* /いいね */



/* コメント */

.comment-box {
  width: 40vw;
  height: 200px;
  background-color: rgb(242, 206, 224);
  margin: 1vh 0;
  margin-bottom: 5vh;
  padding: 10px;
  border: 2px solid #400404;
  overflow: scroll;
}

.comment-box-head {
  text-align: center;
  font-size: 20px;
}

.comment-text {
  width: 40vw;
  height: 150px;
  padding: 10px;
  border: solid 2px #d18d8d;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #ce3c6a;
  border: 1px solid #c11a30;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

/* /コメント */